
/*========================================================
                        Includes
=========================================================*/
/*========================================================
                      Main Styles
=========================================================*/
body {
  background: #1e283a;
  color: #514949;
  font: 400 16px 'Roboto Condensed', sans-serif;
  -webkit-text-size-adjust: none;
  line-height:28px
}
*{box-sizing:border-box}
img {
  max-width: 100%;
  height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #3d62a5;
  font-family: 'Roboto Condensed', sans-serif;
}
h1 {
  font-size: 75px;
}
h2 {
  font-size: 72px;
  line-height: 72px;
}
h3 {
  font-size: 36px;
  line-height: 52px;
  font-weight: 700;
  text-transform: uppercase;
}
h4 {
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
   color: #6f3f3c
}
@media (max-width: 767px) {
  h3 {
    font-size: 30px;
  }
}
h5 {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
}
h6 {
  font-size: 16px;
}

ab {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  color:#000000;
}
ab:hover {
  text-decoration: underline;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  color:#000000;
}
p a:hover {
  text-decoration: underline;
}
time {
  display: block;
}
a {
  font: inherit;
  color: inherit;
  text-decoration: none;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
a:hover {
  color: #000;
}
a:active {
  background: transparent;
}
a:focus {
  outline: none;
}
a[href^="tel:"] {
  color: inherit;
  text-decoration: none;
}
strong {
  font-weight: 700;
}
.fa {
  line-height: inherit;
  font-size: 24px;
  margin-top: 17px;
  color: #1283b9;
}
.fa:hover {
  color: #333a49;
}
.fa__ {
  margin-top: 11px;
}
[class*='fa-']:before {
  font-weight: 400;
  font-family: 'FontAwesome';
}
.page {
  overflow: hidden;
  min-height: 500px;
}
.lt-ie9 .page {
  min-width: 1200px;
}
.center {
  text-align: center;
}
.right {
  text-align: right;
}
hr {
  width: 90px;
  height: 1px;
  border: none;
  color: #1e283a;
  background: #1e283a;
}
.h-100{height: 100%;}
/*=======================================================
                       Main Layout
=========================================================*/
.container + div {
  margin-top: 20px;
}
hr + p {
  margin-top: 14px;
}
* + .btn {
  margin-top: 49px;
}
* + .btn__ {
  margin-top: 45px;
}
h3 + hr {
  margin-top: 5px;
}
p + hr {
  margin-top: 14px;
}
h5 + p {
  margin-top: 2px;
}
hr + .row {
  margin-top: 50px;
}
hr + .row__offs {
  margin-top: 34px;
}
hr + .row__offs2 {
  margin-top: 29px;
}
p + .row__offs3 {
  margin-top: 58px;
}
* + .flex-list {
  margin-top: 89px;
}
p + a.fa {
  margin-top: 14px;
}
em + p {
  margin-top: 25px;
}
/*=======================================================
                        Components
=========================================================*/
/*========================   Menu   ==========================*/
.sf-menu {
  display: inline-block;
  font-size: 14px;
  text-align: center;
}
.sf-menu:before,
.sf-menu:after {
  content: " ";
  display: table;
}
.sf-menu:after {
  clear: both;
}
.sf-menu > li {
  position: relative;
  float: left;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 14px;
}
.sf-menu > li + li {
  margin-left: 1px;
}
.sf-menu a {
  display: block;
}
.sf-menu li:nth-child(n+2):before {
  content: '';
  background: #d0d0d0;
  position: absolute;
  top: 13px;
  left: -1px;
  width: 1px;
  height: 19px;
}
.sf-menu li.active:before {
  display: none;
}
.sf-menu li:hover:before {
  display: none;
}
.sf-menu > li > a {
  color: #1e283a;
  line-height: 16px;
  padding: 10px 25px 10px 25px;
}
.sf-menu > li.sfHover > a,
.sf-menu > li > a:hover {
  color: #ffffff;
  background: #1283b9;
}
.sf-menu > li.active > a {
  color: #ffffff;
  background: #1283b9;
}
.sf-menu ul {
  display: none;
  position: absolute;
  top: 30px;
  left: 0px;
  width: 165px;
  font-family: 'Arial', serif;
  font-size: 12px;
  line-height: 34px;
  margin-top: 10px;
  padding: 20px 0 20px;
  background: #1e283a;
  z-index: 2;
  text-transform: uppercase;
  text-align:left;
  padding-left:10px;
}
.sf-menu ul > li > a {
  color: #FFF;
  font-weight: 400;
}
.sf-menu ul > li a:before {
  display: none;
}
.sf-menu ul > li.sfHover > a,
.sf-menu ul > li > a:hover {
  font-weight: 700;
}
.sf-menu ul ul {
  position: absolute;
  left: 100%;
  top: 43%;
  width: 100px;
  margin-top: 0;
  padding: 2px 24px;
  z-index: 4;
  background: #1283b9;
}
.sf-menu ul ul > li {
  line-height: 30px;
}
.sf-menu ul ul > li > a {
  color: #000;
}
.sf-menu ul ul > li.sfHover > a,
.sf-menu ul ul > li > a:hover {
  color: #FFF;
}
.sf-menu > li > .sf-with-ul {
  position: relative;
}
.sf-menu > li > .sf-with-ul:before {
  position: absolute;
  left: 55%;
  top: 67%;
  margin-left: -6px;
  content: '\f0d7';
  font: 400 12px/12px 'FontAwesome';
  color: #ababab;
}
.sf-menu > li > .sf-with-ul:hover:before {
  color: #fff;
}
.sf-menu > li.sfHover > .sf-with-ul:before,
.sf-menu > li.active > .sf-with-ul:before {
  color: #fff;
}
.sf-menu ul li:before {
  display: none;
}
@media (max-width: 767px) {
  .sf-menu {
    display: none;
  }
}
/*==================  Select Menu  ======================*/
.select-menu {
  border: 1px solid #9f9f9f;
  position: relative;
  display: none;
  margin: 0 auto;
  width: 420px;
  background: #ffffff url('../images/select.png') no-repeat right center;
  overflow: hidden;
}
.select-menu .select {
  width: 440px;
  height: 30px;
  color: #585858;
  background-color: transparent;
  font: 400 15px 'Roboto Condensed', sans-serif;
  line-height: 30px;
  border: none;
  border-radius: 0;
  box-shadow: none;
  outline: none;
  -webkit-appearance: none;
}
.select-menu .select::-ms-expand {
  display: none;
}
@media (max-width: 767px) {
  .select-menu {
    display: block;
  }
}
@media (max-width: 479px) {
  .select-menu {
    width: 270px;
  }
  .select-menu .select {
    width: 290px;
  }
}
/*==================  Stuck menu  ======================*/
.stuck_container {
  padding: 5px 0;
}
.isStuck {
  background: #ffffff;
  z-index: 999;
  border-bottom: 1px solid #333333;
}
@media only screen and (max-width: 979px) {
  .isStuck {
    display: none !important;
  }
}
/*==================     ToTop     ======================*/
.toTop {
  width: 42px;
  height: 42px;
  font-size: 39px !important;
  line-height: 38px !important;
  color: #2c2c2d;
  background: #d4d4d4;
  border: 1px solid #42637d;
  position: fixed;
  right: 54px;
  bottom: 204px;
  display: none;
  overflow: hidden;
  text-align: center;
  text-decoration: none;
  z-index: 20;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.toTop:hover {
  color: #d4d4d4;
  background: #42637d;
  text-decoration: none;
}
@media only screen and (max-width: 1399px) {
  .toTop {
    display: none !important;
  }
}
/*==================   Tumbnail    ======================*/
.thumb {
  display: block;
  position: relative;
  overflow: hidden;
}
.thumb img {
  width: 100%;
  height: auto;
  -moz-transition: 0.5s all ease;
  -o-transition: 0.5s all ease;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
}
.thumb_overlay {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
  color: #ffffff;
  background: transparent;
}
.thumb_overlay:before {
  content: '\f065';
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  font: 400 30px 'FontAwesome';
  line-height: 30px;
  margin-top: -15px;
  text-align: center;
}
.lt-ie9 .thumb_overlay:before {
  display: none;
}
.thumb:hover .thumb_overlay {
  opacity: 1;
  background: rgba(0, 0, 0, 0.5);
}
.lt-ie9 .thumb:hover .thumb_overlay {
  background: none;
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#80000000');
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#80000000');
  zoom: 1;
}
.lt-ie9 .thumb:hover .thumb_overlay:before {
  display: block;
}
.thumb:hover img {
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
@media (max-width: 767px) {
  .section-sets .max_height .thumb {
    max-height: 300px;
  }
}
/*==================   Parallax    ======================*/
.parallax {
  background-position: center 0;
  background-repeat: no-repeat;
}
.mobile .parallax,
.tablet .parallax {
  background-position: 50% 0 !important;
  background-size: cover;
}
.parallax1 {
  background-color: #1e283a;
  background-image: url(../images/parallax01.jpg);
}
@media (min-width: 2050px) {
  .parallax {
    background-size: cover;
  }
}
@media (max-width: 767px) {
  .parallax {
    background-position: center 0 !important;
    background-size: cover;
  }
}
.parallax1 * {
  color: #ffffff;
  font-weight: 400;
  text-transform: uppercase;
}
.parallax1 * p {
  font-size: 16px;
  padding: 0 224px;
}
.parallax1 * h3 + h4 {
  margin-top: -4px;
}
.parallax1 * h4 + p {
  margin-top: 12px;
}
.parallax1 * .h4__ins {
  line-height: 29px;
}
.parallax1 * a:hover {
  color: #333a49;
}
@media (max-width: 768px) {
  .parallax1 * p {
    padding: 0 15px;
  }
}
/*==========================Brand========================*/
.brand_name {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: #1e283a;
  text-transform: uppercase;
  position: relative;
  padding-left: 32px;
}
.brand_name span {
  color: #1283b9;
  margin-right: -9px;
}
.brand_name a:hover {
  color: #1e283a;
}
.brand h1:before {
  content: '';
  background: url("../images/logo.jpg") no-repeat center;
  width: 27px;
  height: 35px;
  position: absolute;
  left: 0;
  top: 0;
}
/*==================    Buttons    ======================*/
.btn {
  display: inline-block;
  color: #ffffff;
  padding: 18px 38px 19px 36px;
  background: #1283b9;
  text-align: center;
  font-size: 24px;
  line-height: 37px;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.btn:hover {
  background: #1e283a;
  text-decoration: none;
}
.btn:active {
  background: #1e283a;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
}
.btn__ {
  padding: 18px 52px 19px 50px;
}
.btn2 {
  background: none;
  border: none;
  padding: 0;
  outline: none;
  outline-offset: 0;
  cursor: pointer;
  -webkit-appearance: none;
  display: inline-block;
  color: #ffffff;
  padding: 10px 27px 10px 27px;
  background: #1283b9;
  text-align: center;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  font-family: 'Roboto Condensed', sans-serif;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.btn2::-moz-focus-inner {
  border: none;
  padding: 0;
}
.btn2:hover {
  background: #1e283a;
  color:#ffffff;
}
.btn2:active {
  background: #1e283a;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
}
* + .btn2__offs {
  margin-top: 23px;
  padding: 10px 32px 10px 32px;
}
* + .btn2__offs2 {
  margin-top: 18px;
  padding: 10px 32px 10px 32px;
}
/*==================      Box      ======================*/
.box {
  background: #1e283a;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.box:hover {
  background: #1283b9;
}
.box_cnt {
  position: relative;
  padding-top: 36px;
  padding-bottom: 20px;
}
.box_cnt p,
.box_cnt h4 {
  color: #ffffff;
}
.box_cnt p {
  font-weight: 300;
  line-height: 22px;
  font-size: 14px;
  padding: 0px 25px;
    text-align: justify;
}
.box a {
  color: #ffffff;
}
.box a:hover {
  color: #1e283a;
}
.box_cnt h4 + p {
  margin-top: 9px;
}
@media (min-width: 480px) and (max-width: 767px) {
  .box {
    width: 369px;
    margin-left: 28px;
  }
}
@media (max-width: 1199px) {
  .box_cnt p {
    padding: 0 7px;
  }
}
.section-sets4 .grid_4:nth-child(n + 4) {
  margin-top: 26px;
}
.section-sets4 .box_cnt p {
  padding: 0 58px;
}
h4 + p.p__offs {
  margin-top: 5px;
}
/*==================   Box1   ======================*/
.icon {
  position: relative;
  width: 107px;
  height: 139px;
  background: url("../images/sprite_border.png");
  background-position: 107px 0;
  display: inline-block;
}
.icon__ {
  position: relative;
  width: 107px;
  height: 139px;
  background: url("../images/sprite_border.png");
  background-position: 107px 0;
  display: inline-block;
}
.icon:before {
  content: '';
  position: absolute;
  width: 60px;
  height: 58px;
  top: 22px;
  left: 23px;
}
.icon__:before {
  position: absolute;
  font-family: 'FontAwesome';
  font-size: 36px;
  color: #4f697d;
}
.bg1:before {
  background: url("../images/page-1_sprite1.png");
  background-position: 0 0;
}
.bg2:before {
  background: url("../images/page-1_sprite1.png");
  background-position: -60px 0;
}
.bg3:before {
  background: url("../images/page-1_sprite1.png");
  background-position: -120px 0;
}
.bg4:before {
  background: url("../images/page-1_sprite1.png");
  background-position: -180px 0;
}
.bg1__:before {
  content: '\f046';
  top: 42px;
  left: 40px;
}
.bg2__:before {
  content: '\f108';
  top: 42px;
  left: 36px;
}
.bg3__:before {
  content: '\f1b3';
  top: 41px;
  left: 34px;
}
.bg4__:before {
  content: '\f0e7';
  top: 42px;
  left: 47px;
}
.bg1__2:before {
  content: '\f0a1';
  top: 42px;
  left: 40px;
}
.bg2__2:before {
  content: '\f02d';
  top: 42px;
  left: 36px;
}
.bg3__2:before {
  content: '\f085';
  top: 41px;
  left: 34px;
}
.bg4__2:before {
  content: '\f1cb';
  top: 42px;
  left: 37px;
}
.box_cnt1:hover .icon,
.box_cnt1:hover .icon__ {
  background: url("../images/sprite_border.png");
  background-position: 0 0;
}
.icon + *,
.icon__ + * {
  margin-top: 36px;
}
.solutions hr + div {
  margin-top: 35px;
}
.solutions p {
  padding: 0 16px;
}
@media (max-width: 1199px) {
  .box1::after,
  .box2::after,
  .box3::after,
  .box4::after {
    top: 18px;
  }
}
/*======================   Box2   ======================*/
.box2 em {
  font-size: 14px;
  line-height: 26px;
  color: #1e283a;
  text-transform: uppercase;
  padding: 0 89px;
  text-align: center;
  display: inline-block;
}
.box_aside2 + .box_cnt2 {
  margin-top: 20px;
}
.box2 * + em {
  margin-top: 15px;
}
@media (max-width: 1199px) {
  .box2 em {
    padding: 0 20px;
  }
}
/*======================   Box3   ======================*/
.box3:before,
.box3:after {
  content: " ";
  display: table;
}
.box3:after {
  clear: both;
}
.box3_aside {
  float: left;
}
.box3_cnt__no-flow {
  overflow: hidden;
}
.box3_aside {
  margin-right: 23px;
}
.box3_cnt h5 {
  margin-top: -5px;
}
@media (max-width: 767px) {
  .box3 {
    text-align: center;
  }
  .box3_aside {
    float: none;
  }
  .box3_cnt {
    margin-top: 20px;
  }
}
* + .box3 {
  margin-top: 36px;
}
/*================   Index list   =======================*/
.index-list {
  counter-reset: list;
  width: 100%;
}
.index-list li {
  color: #9f9f9f;
  border: 1px solid #1e283a;
  position: relative;
  padding-left: 90px;
  padding-top: 14px;
  padding-bottom: 13px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.index-list li:before {
  content: counter(list) ".";
  counter-increment: list;
  color: #333a49;
  position: absolute;
  width: 69px;
  top: 0px;
  bottom: 0px;
  left: 0px;
  border-right: 1px solid #1e283a;
  font-size: 30px;
  padding-left: 26px;
  padding-top: 26px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.index-list li + li {
  margin-top: 3px;
}
@media (max-width: 979px) {
  .index-list li {
    padding-right: 5px;
  }
  .index-list li:before {
    padding-top: 38px;
  }
}
/*=================   Marked list =======================*/
.marked-list {
  
  color: #1e283a;
  font-size: 16px;
}
.marked-list li {
  position: relative;
  padding-left: 22px;
}
.marked-list li + li {
  margin-top: 12px;
}
.marked-list li:before {
  content: '\f0da';
  font-family: 'FontAwesome';
  position: absolute;
  left: 9px;
  top: -1px;
  color: #1283b9;
  font-size: 13px;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
@media (max-width: 1199px) {
  .marked-list {
    font-size: 11px;
  }
  .marked-list li:before {
    font-size: 16px;
  }
}
.marked-list li a:hover {
  color: inherit;
}
.marked-list li:hover:before {
  color: #333a49;
}
/*=================   Flex list =========================*/
.flex-list {
  display: table;
  table-layout: fixed;
  width: 100%;
}
.flex-list li {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.flex-list li img {
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.flex-list li img:hover {
  transform: scale(0.95);
}
@media (max-width: 767px) {
  .flex-list {
    display: block;
  }
  .flex-list li {
    display: block;
  }
  .flex-list li + li {
    margin-top: 30px;
  }
}
/*==================   Gallery   ======================*/
.gallery:before,
.gallery:after {
  content: '';
  display: table;
}
.gallery:after {
  clear: both;
}
.gallery div {
  float: left;
}
.gallery .img1 {
  width: 14.8780487804878%;
}
.gallery .img2 {
  width: 23.41463414634146%;
}
.gallery .img3 {
  width: 23.41463414634146%;
}
.gallery .img4 {
  width: 23.46341463414634%;
}
.gallery .img5 {
  width: 14.82926829268293%;
}
* + div.gallery {
  margin-top: 58px;
}
* + div.gallery__ {
  margin-top: 36px;
}
@media (max-width: 767px) {
  .gallery [class*='img'] {
    float: none;
    display: block;
    width: 60%;
    margin: 0 auto;
  }
  .gallery__ .img {
    width: 100%;
    display: block;
  }
}
@media (max-width: 1199px) {
  .gallery__ .img {
    float: none;
    max-width: 377px;
    margin: 0 auto;
  }
}
/*==================   Address   ======================*/
.map address {
  position: relative;
  color: #1e283a;
  font-size: 18px;
  font-family: 'Roboto Condensed', sans-serif;
  display: inline-block;
  text-transform: uppercase;
}
.map address:before {
  position: absolute;
  color: #1283b9;
  font-family: 'FontAwesome';
  top: -70px;
  left: 50%;
}
.map address.mail:before {
  content: '\f0e0';
  font-size: 66px;
  margin-left: -34px;
  top: -63px;
}
.map address.phone:before {
  content: '\f10b';
  font-size: 117px;
  margin-left: -26px;
}
.map address.marker:before {
  content: '\f041';
  font-size: 89px;
  margin-left: -29px;
}
.map address a:hover {
  color: #1e283a;
  text-decoration: underline;
}
.map * + .contacts {
  margin-top: 125px;
}
.map .contacts address + address {
  margin-left: 22%;
}
@media (max-width: 979px) {
  .map .contacts address + address {
    margin-left: 7%;
  }
}
@media (max-width: 767px) {
  .map address {
    font-size: 14px;
  }
  .map address:before {
    top: -60px;
  }
  .map address.mail:before {
    font-size: 40px;
    margin-left: -23px;
    top: -55px;
  }
  .map address.phone:before {
    font-size: 83px;
    margin-left: -19px;
  }
  .map address.marker:before {
    font-size: 60px;
    margin-left: -22px;
  }
}
@media (max-width: 479px) {
  .map address {
    display: block;
  }
  .map .contacts address + address {
    margin-top: 109px;
    margin-left: 0;
  }
}
/*===================== Privacy ========================*/
.privacy h5 + p {
  margin-top: 6px;
}
.privacy p + h5 {
  margin-top: 33px;
}
.privacy .h5__offs {
  margin-top: 29px;
}
.privacy address {
  margin-top: 37px;
  color: #1e283a;
  font-size: 18px;
  font-family: 'Roboto Condensed', sans-serif;
  display: inline-block;
  text-transform: uppercase;
}
.privacy address a:hover {
  color: #1e283a;
  text-decoration: underline;
}
/*========================================================
                     HEADER  Section
=========================================================*/
header {
  background: #ffffff;
}
header .top {
  padding-top: 6px;
  padding-bottom: 8px;
  background: #1e283a;
}
header .main {
 
}
header .main__ {
  padding-bottom: 33px;
}
header .brand {
  float: left;
  
}
header .nav {
  float: right;
  margin-right: 8px;
  padding-top: 34px;
}
header .separ {
  height: 4px;
  width: 100%;
  background: linear-gradient(to bottom, #e9e9e9, #fdfdfd);
  padding: 0;
  margin: 0;
}
@media (max-width: 1199px) {
  header .nav {
    float: right;
    margin-right: 0;
  }
}
@media (max-width: 979px) {
  header {
    text-align: center;
  }
  header .brand,
  header .nav {
    float: none;
    display: inline-block;
  }
  header .brand + .nav {
    margin-top: 20px;
  }
}
/*================== Top Contacts ======================*/
.links a {
  float: left;
  color: #fefefe;
  font-size: 18px;
  line-height: 20px;
}
.links a:hover {
  color: #1283b9;
}
.links a + a {
  margin-left: 14px;
}
.top .contacts {
  float: right;
  font-family: 'Arial', serif;
  font-size: 12px;
}
.top .contacts address {
  position: relative;
  float: left;
  padding-left: 17px;
}
.top address:before {
  position: absolute;
  color: #fff;
  font-size: 14px;
  left: 0;
  top: 0;
}
.top address a:hover {
  text-decoration: underline;
}
.top .contacts address + address {
  margin-left: 48px;
}
@media (max-width: 767px) {
  .top .contacts {
    float: none;
  }
  .top .contacts address {
    float: none;
    display: inline-block;
  }
  .top .contacts address + address {
    margin-left: 7px;
  }
  .top .links a {
    float: none;
  }
}
/*========================================================
                     CONTENT  Section
=========================================================*/
main {
  display: block;
  background: #ffffff;
}
.section-sets p {
  font-weight: 300;
  line-height: 28px;
  font-size: 16px;
  color: #74828d;
  padding: 0px 147px;
}
.section-sets .p__ins3 {
  padding: 0px 25px;
  font-size: 13px;
  color: #9f9f9f;
  line-height: 24px;
}
.section-sets .p__ins1 {
  padding: 0 10px;
  font-size: 13px;
  color: #9f9f9f;
  line-height: 24px;
}
.section-sets1 .row p {
  padding: 0;
}
.section-sets1 h5 + p {
  margin-top: 25px;
}
.section-sets2 p {
  text-transform: uppercase;
  font-size: 18px;
  color: #8595a2;
}
.section-sets2 h3 + p {
  margin-top: -11px;
}
@media (max-width: 767px) {
  .section-sets p {
    padding: 0;
  }
  .section-sets1 .p__ins {
    padding: 0 20px;
  }
  .section-sets2 h3 {
    line-height: 36px;
  }
  .section-sets2 h3 + p {
    margin-top: 5px;
  }
}
.section-sets3 p,
.section-sets3 em {
  font-size: 16px;
}
.section-sets3 em {
  color: #1283b9;
}
.h5__offs {
  margin-top: -5px;
}
.h5__offs1 {
  margin-top: 27px;
}
.h5__offs2 {
  margin-top: 38px;
}
.p__ins {
  padding: 0px 147px;
}
/*==================      Well     ======================*/
.well {
  padding-top: 39px;
  padding-bottom: 42px;
}
.well__ins {
  padding-bottom: 70px;
}
.well1 {
  padding-top: 39px;
  padding-bottom: 53px;
}
.well2 {
  padding-top: 57px;
  padding-bottom: 65px;
}
.well2__ins {
  padding-bottom: 64px;
}
.well2__ins1 {
  padding-bottom: 80px;
}
.well2__ins2 {
  padding-bottom: 77px;
}
.well3 {
  padding-top: 48px;
  padding-bottom: 39px;
}
.well4 {
  padding-top: 52px;
  padding-bottom: 70px;
}
.well5 {
  padding-top: 20px;
  padding-bottom: 15px;
}
.well6 {
  padding-top: 52px;
  padding-bottom: 45px;
}
.well6__ins1 {
  padding-bottom: 57px;
}
.well6__ins2 {
  padding-bottom: 52px;
}
.well7 {
  padding-top: 44px;
  padding-bottom: 61px;
}
.well8 {
  padding-top: 52px;
  padding-bottom: 52px;
}
.well8__ins {
  padding-bottom: 69px;
}
.well9 {
  padding-top: 59px;
  padding-bottom: 85px;
}
/*==================  Backgrounds  ======================*/
.bg-primary {
  background: #1283b9;
}
.bg-secondary {
  background: #e1e2e4;
}
/*========================================================
                     FOOTER  Styles
=========================================================*/
footer {
  background: #1e283a;
  padding-top: 30px;
  padding-bottom: 10px;
}
footer * {
  
  font-weight: 400;
  color: #ddd;
  font-family: 'Roboto Condensed', sans-serif;
}
footer .brand_name {
  padding-left: 0;
  font-size: 30px;
  display: inline-block;
  text-transform: uppercase;
}
footer p {
  display: inline-block;
  margin-top: 24px;
  text-transform: uppercase;
}
footer .brand_name,
footer h5 {
  color: #fff;
  text-transform: uppercase;
}
footer p,
footer address,
footer dl {
  font-size: 12px;
  line-height: 20px;
  text-transform: uppercase;
}
footer .mail {
  line-height: 35px;
  text-transform: uppercase;
}
footer dl a:hover {
  text-decoration: underline;
  text-transform: uppercase;
}
footer dt,
footer dd {
  display: inline-block;
  text-transform: uppercase;
}
footer h5 + h1 {
  margin-top: 9px;
  text-transform: uppercase;
}
footer h1 + p {
  margin-left: 5px;
  text-transform: uppercase;
}
footer * + .links {
  margin-top: 13px;
  text-transform: uppercase;
}
footer h5 + address {
  margin-top: 20px;
  text-transform: uppercase;
}

@media (max-width: 979px) {
  footer p {
    display: block;
    margin: 0;
  }
}
@media (max-width: 767px) {
  footer {
    text-align: center;
  }
  footer .links a {
    display: inline-block;
    float: none;
  }
}

.project td{padding:8px 10px; border:1px solid #CCC}
.project .odd td {background:#f3f3f3}
.project .table-head{background:#1e283a; font-size:16PX; color:#fff; }
.project .table-head td{padding:10px; border:1px solid #4b5361}



.project .title{background:#dadada; font-size:20PX; color:#000; text-align:center}
.table-cell-01{width:30px}
.table-cell-02{width:120px}
.table-cell-04, .table-cell-05,.table-cell-06, .table-cell-07, .table-cell-08{width:90px}
.table-cell-011{width:30px}
.table-cell-031{width:35%}
.table-cell-041{width:35%}
.table-cell-051{width:90px}
@media (max-width: 767px) {
  .table_wrapper {  overflow:scroll}
  .project{width:810px}
  .table-cell-01{width:30px}
.table-cell-02{width:90px}
.table-cell-04, .table-cell-05,.table-cell-06, .table-cell-07, .table-cell-08{width:60px}
}


.casestudy_right_menu h5 {border-bottom: 1px solid #C7C4C4; padding-bottom:10px; margin-bottom:10px}

.milestones h3{ font-size:26px; line-height:36px; background:#fff; padding:0 15px; display:inline-block; margin-bottom:7px;

}.milestones h4{ font-size:17px; line-height:26px}
.milestones .grid_3{ background:url(../images/box.png) no-repeat  0px 18px; min-height:115px; padding:0px 20px }
.milestones .grid_12{ background:url(../images/box.png) no-repeat center 18px; min-height:115px; padding:0px 20px }


.solar-bg{background:url(../images/solar-bg-01.jpg)  repeat-y center #e1e2e4;  padding:30px 0px}

.solar-bg .left-cell{width:50%;  position:relative;}
.solar-bg .left-cell .number-box{width:66px; height:66px; position:absolute; right:-33px; background:url(../images/solar-bg-02.png) no-repeat center; color: #3d62a5;
font-family: 'Roboto Condensed', sans-serif; text-align:center; padding-top:20px; font-size:28px; font-weight:700
}
.solar-bg .left-cell .text{padding:20px 50px 0 0; width:70%; margin-left:30%; }
.solar-bg .left-cell h5{margin-bottom:20px}
.solar-bg .left-cell .marked-list{line-height:22px}

.solar-bg .right-cell{width:50%;  position:relative; margin-left:50%}
.solar-bg .right-cell .number-box{width:66px; height:66px; position:absolute; left:-33px; background:url(../images/solar-bg-02.png) no-repeat center; color: #3d62a5;
font-family: 'Roboto Condensed', sans-serif; text-align:center; padding-top:20px; font-size:28px; font-weight:700
}
.solar-bg .right-cell .text{padding:20px 0 0 50px ; width:70%; margin-right:30%}
.solar-bg .right-cell h5{margin-bottom:20px}
.solar-bg .right-cell .marked-list{line-height:22px}



@media (max-width: 767px) {
.solar-bg{background:#e1e2e4;  padding:30px 0px}

.solar-bg .left-cell {width:100%;  position:relative; margin-top:30px}
.solar-bg .left-cell .number-box{width:66px; height:66px; position:absolute; left:0px; background:url(../images/solar-bg-02.png) no-repeat center; color: #3d62a5;
font-family: 'Roboto Condensed', sans-serif; text-align:center; padding-top:20px; font-size:28px; font-weight:700
}
.solar-bg .left-cell .text{padding:20px  0 0 80px; width:100%; margin-left:0% ; }
.solar-bg .left-cell h5{margin-bottom:20px}
.solar-bg .left-cell .marked-list{line-height:22px}

.solar-bg .right-cell {width:100%;  position:relative; margin-top:30px; margin-left:0}
.solar-bg .right-cell .number-box{width:66px; height:66px; position:absolute; left:0px; background:url(../images/solar-bg-02.png) no-repeat center; color: #3d62a5;
font-family: 'Roboto Condensed', sans-serif; text-align:center; padding-top:20px; font-size:28px; font-weight:700
}
.solar-bg .right-cell .text{padding:20px 0 0 80px ; width:100%; margin-left:0%}
.solar-bg .right-cell h5{margin-bottom:20px}
.solar-bg .right-cell .marked-list{line-height:22px}
}
@media (max-width: 479px) {
  body {
    padding: 0;
  }
  .container,
  .container-fluid {
    width: 300px;
    padding: 0 15px;
  }
  .row {
    margin-left: 0;
  }
}
footer .marked-list li{ font-size:14px; font-weight:bold; margin-top:6px}


/*******Covid Banner****/
.covid-banner-caption { bottom: inherit !important; height: 100%;}
.covid-banner-caption > div{display: flex;  align-items: center;}

.covid-banner { text-align:left !important; padding: 0 !important;}
.covid-banner h2{ color:#000000; font-size:50px; line-height:60px; text-align:left}
.covid-banner p{text-align:left; color:#000000; font-size:18px!important; padding-left:0 !important; padding-right:0 !important;}
.milestone-banner h2{ color:#ffffff; font-size:48px; text-transform:capitalize !important; line-height:48px!important;}
.completing-28years .container{ height: 100%;}
.completing-28years .two-column{ display: flex; align-items: center; height: 100%;}
.completing-28years .two-column .col-1{ width: 50%;}
.completing-28years .two-column .col-1 h2{ margin-top: 10px; font-weight: 700; margin-bottom: 40px; margin-right: 20%;}
/* .completing-28years .two-column .col-2 ul{ margin-top: 60px;} */
.completing-28years .two-column .col-2 ul li{ font-size: 20px; color: #ffffff; margin-top: 28px;}

/****Popup css****/
.blocker{ z-index:999 !important;}
.modal{ padding:45px 65px !important; border-radius:0 !important; min-width:1014px; max-height:100%; overflow:auto;}
.modal h2{ font-size:30px; color:#3a62a8; font-weight: 700; line-height:30px; margin-bottom:25px;}
.modal p{ color:#000000; font-size:14px; line-height:22px; margin-bottom:25px;}
#ex1.modal p{text-align: justify;}
.modal ul{ margin:0 0 35px 0;}
.modal li{ padding-left:25px; position:relative; margin-bottom:10px;}
.modal li:before{ content:""; display:block; position:absolute; left:0; top:12px;  background:url('../images/popup-list-bullate.png') no-repeat left center; height:8px; width:12px;}
.modal a.close-modal{ top:15px !important; right:15px !important; background-image:url('../images/popup-close-icon.png') !important; height:18px !important; width:18px!important;}
.modal li a{ color:#3a62a8;}
.modal li a:hover{ opacity:0.6; }
.mb35{ margin-bottom:35px}
.photo-image{ margin:0 2% 10px 3%; float:right;}
/****Popup css End****/


@media only screen and (max-width: 1400px) {
		.covid-banner h2{font-size:40px; line-height:52px}
		.covid-banner p{font-size:14px!important;}
		.modal{ padding:25px 35px !important;}
		.modal ul{margin: 25px 0;}
    .completing-28years .year-img{width: 150px;}
    .completing-28years h2{font-size: 41px;}
    .completing-28years .two-column .col-1 h2{ margin-bottom: 20px; margin-right: 35%;}
    .completing-28years .two-column .col-2 ul li{ margin-top: 15px;}
	}
@media only screen and (max-width: 1199px) {
		.covid-banner h2{font-size:32px !important; line-height:40px}
		.covid-banner p{font-size:14px!important; margin-top:0 !important }
		.covid-banner li{font-size:14px!important; line-height:22px;}
		.modal{ padding:15px 25px !important;}
		.modal ul{margin: 15px 0;}
		.modal{ min-width:730px;}
    .completing-28years .two-column .col-1 h2{ margin-right: 15%;}
    .completing-28years .two-column .col-2 ul li{
      font-size: 16px;
      margin-top: 10px;
    }
    
	}
@media only screen and (max-width: 992px) {
	.modal{ min-width:auto;}
  .completing-28years .year-img{width: 100px;}
  .completing-28years h2{font-size: 26px; line-height: 35px !important;}
  .completing-28years .two-column .col-1 h2{ margin-right: 35%;}
  .completing-28years .two-column .col-2 ul li{ font-size: 14px;}
	}
@media only screen and (max-width: 767px) {
	.modal{ min-width:auto;	height: 100%;overflow: auto;}
  .calebration-modal.modal{ min-width:auto;	height: auto;overflow: auto;}
	.modal p{ margin-bottom:20px;}
	.modal ul{margin: 0 0 20px 0;}
	.modal li{ margin-bottom:5px;}
	.photo-image{ margin:0 2% 20px 3%; float:right;}
  .completing-28years .two-column{ flex-direction: column; justify-content: center;}
  .completing-28years .two-column .col-1,.completing-28years .two-column .col-2{ width: 100%; text-align: center;}
  .completing-28years .two-column .col-2{ display: none;}
  .completing-28years .two-column .col-1 h2{ margin-bottom: 0;}
  .completing-28years .two-column .col-1 h2{ margin-right: 0;}
	}
	
@media only screen and (max-width: 600px) {
	.modal h2{ font-size:24px; line-height:32px; margin-bottom:20px;}
	.photo-image {margin: 0 auto; margin-bottom: 0px; float: none; display: block;   margin-bottom: 20px;}
	}

  .calebration-modal{padding:0!important;overflow: visible!important;}
  .calebration-modal a.close-modal{
    right:-30px!important;top: 0!important;
    background-image: url(../images/close-icon.png) !important;
  }
 
  .completing-glorious{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
  .completing-glorious h2{font-weight: 700;}
  .completing-glorious .year-img{padding-bottom: 25px;width:110px;}